<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <title>Ajustes</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_cards.css') }}">
        <!-- Incluir el archivo CSS de la barra de navegación -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_interfaces.css') }}">
    <style>
        /* Tamaño pequeño */
        .texto-pequeno .input-tamano
        {
            font-size: var(--font-size-small);
            padding: 6px 10px;
        }

        /* Tamaño mediano (opcional, si tienes uno por defecto) */
        .texto-mediano .input-tamano
        {
            font-size: var(--font-size-medium);
            padding: 8px 14px;
        }

        /* Tamaño grande */
        .texto-grande .input-tamano
         {
            font-size: var(--font-size-large);
            padding: 12px 20px;
        }
    </style>

</head>
<body class="{% if session.get('tamano_texto') == 'pequeño' %}texto-pequeno{% elif session.get('tamano_texto') == 'grande' %}texto-grande{% else %}texto-mediano{% endif %} 
{% if daltonismo %}modo-daltonismo{% endif %}">


     <!-- Barra de navegación -->
     <div class="navbar">
        <h1>Greenmetrics</h1>
        <div class="dropdown">
            <button>≡</button>
            <div class="dropdown-content">
                <a href="{{ url_for('perfil') }}">{{ textos.perfil}}</a>
                <a href="{{ url_for('logout') }}">{{ textos.cerrar_sesion}}</a> 
            </div>
        </div>
    </div>

        <!-- Contenido principal -->
        <div class="main-content">
            <h2>{{ textos.ajustes}}</h2>

        <!-- Formulario de cambio de idioma -->
        <form action="{{ url_for('ajustes') }}" method="POST">
            <div class="form-group">
                <label for="idioma">{{ textos.sel_idioma}}:</label>
                <select name="idioma" id="idioma" class="input-tamano">
                    <option value="en" {% if session.get('idioma') == 'en' %}selected{% endif %}>{{ textos.ingles}}</option>
                    <option value="es" {% if session.get('idioma') == 'es' %}selected{% endif %}>{{ textos.espanol}}</option>
                </select>
            </div>

            <!-- Formulario de cambio de tamaño de texto -->
            <div class="form-group">
                <label for="tamano_texto">{{ textos.sel_letra}}<label>
                <select name="tamano_texto" id="tamano_texto"  class="input-tamano">
                    <option value="pequeño" {% if session.get('tamano_texto') == 'pequeño' %}selected{% endif %}>{{ textos.pequeno}}</option>
                    <option value="normal" {% if session.get('tamano_texto') == 'normal' %}selected{% endif %}>{{ textos.normal}}</option>
                    <option value="grande" {% if session.get('tamano_texto') == 'grande' %}selected{% endif %}>{{ textos.grande}}</option>
                </select>
            </div>
            
            <!-- Opción de daltonismo -->
            <div class="form-group">
                <label for="daltonismo">{{ textos.modo_daltonismo }}:</label>
                <input type="checkbox" name="daltonismo" id="daltonismo" {% if session.get('daltonismo') %}checked{% endif %}>
            </div>
            
            <div class="button-container">
                <button type="submit" class="btn btn-secondary">{{ textos.guardar}}</button>
                <button type="button" onclick="window.location.href='{{ url_for('pagina_principal') }}'" class="btn btn-secondary"> {{ textos.volver_atras}}</button>
            </div>
        </form>
    </div>

 </body>
</html>