<!DOCTYPE html>
<html lang="{{ session.get('idioma', 'es') }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{textos.rol_cambiar}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_interfaces.css') }}">
</head>
<body class="{% if session.get('tamano_texto') == 'pequeño' %}texto-pequeno{% elif session.get('tamano_texto') == 'grande' %}texto-grande{% else %}texto-mediano{% endif %} 
{% if daltonismo %}modo-daltonismo{% endif %}">
    <!-- Barra de navegación -->
   
    {% include 'navbar.html' %}
    <div class="main-content">
        <h2>{{textos.rol_cambiar}}</h2>
        <form method="POST">
            <div>
                <label for="email">{{textos.correo_usuario}}</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div>
                <label for="nuevo_rol"> {{textos.nuevo_rol}}</label>
                <select name="nuevo_rol" class="form-control" required>
                    <option value="admin">{{textos.rol_administrador}}</option>
                    <option value="usuario">{{textos.rol_usuario}}</option>
                </select>
            </div>

            <button type="submit" class="btn btn-secondary"> {{textos.rol_cambiar}}</button>
        </form>
        
        <a href="{{ url_for('perfil') }}" class="btn btn-secondary">{{textos.cancelar}}</a>
    </div>
    <div id="successModal" class="mensaje_errores" style="display: none;">
        <div class="modal-content">
            <p id="modalMessage"></p>
        </div>
    </div>



    <script>
    // Mostrar el modal si hay mensajes flash
    document.addEventListener('DOMContentLoaded', () => {
            const flashMessage = "{{ get_flashed_messages()[0] if get_flashed_messages() else '' }}";
            if (flashMessage) {
                const modal = document.getElementById('successModal');
                const modalMessage = document.getElementById('modalMessage');
                modalMessage.textContent = flashMessage;
                modal.style.display = 'block';

                // Auto-cierre a los 5 segundos
                setTimeout(() => {
                    closeModal();
                }, 5000);
            }
        });

        function closeModal() {
            const modal = document.getElementById('successModal');
            modal.style.display = 'none';
        }
</script>

</body>
</html>
