<!DOCTYPE html>
<html lang="{{ session.get('idioma', 'es') }}">
<head>
    <meta charset="UTF-8">
    <title>Editar Búsqueda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_cards.css') }}">
    <!-- Incluir el archivo CSS de la barra de navegación -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_interfaces.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_tabla.css') }}">
 
</head>
<body class="{% if session.get('tamano_texto') == 'pequeño' %}texto-pequeno{% elif session.get('tamano_texto') == 'grande' %}texto-grande{% else %}texto-mediano{% endif %} 
{% if daltonismo %}modo-daltonismo{% endif %}">

    <!-- Barra de navegación -->
    {% include 'navbar.html' %}




    <div class="main-content">
        <h2>{{textos.editar_busqueda}}</h2>
        <form method="POST">
            <label for="anho">{{textos.anho_tabla}}</label>
            <input type="text" name="anho" value="{{ busqueda.anho }}" required>

            <label for="tipo_programa">{{textos.tipo}}</label>
            <select name="tipo_programa" required>
                    <option value="grado" {% if busqueda.tipo_programa == "grado" %}selected{% endif %}>{{textos.opcion_grado}}</option>
                    <option value="master" {% if busqueda.tipo_programa == "master" %}selected{% endif %}>{{textos.opcion_master}}</option>
                </select> 
            
            <label for="codigo_asignatura">{{textos.codigo_Asignatura}}</label>
            <input type="text" name="codigo_asignatura" value="{{ busqueda.codigo_asignatura }}" required>

            <label for="nombre_archivo">{{textos.nombre_archivo}}</label>
            <input type="text" name="nombre_archivo" value="{{ busqueda.nombre_archivo }}" required>

            <label for="modalidad">{{textos.modalidad}}</label>
            <select name="modalidad" required>
                <option value="presencial" {% if busqueda.modalidad == "presencial" %}selected{% endif %}>{{textos.opcion_presencial}}</option>
                <option value="online" {% if busqueda.modalidad == "online" %}selected{% endif %}>{{textos.opcion_online}}</option>
            </select>           
            <label for="sostenibilidad">{{textos.sostenibilidad}}</label>
            <select name="sostenibilidad" required>
                <option value="Sí" {% if busqueda.sostenibilidad == "Sí" %}selected{% endif %}>{{textos.si}}</option>
                <option value="No" {% if busqueda.sostenibilidad == "No" %}selected{% endif %}>{{textos.no}}</option>
            </select>
        <div>
            <button type="submit"  class="btn btn-secondary">{{textos.guardar}}</button>
            <a href="{{ url_for('consultar_busquedas') }}"  class="btn btn-secondary">{{textos.cancelar}}</a>
        </div>
        </form>
    </div>
</body>
</html>