<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenmetrics</title>
    <!-- Incluir el archivo CSS de la barra de navegación -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_login_register.css') }}">

   
    <script src="https://accounts.google.com/gsi/client?hl={{ session.get('idioma', 'es') }}" async defer></script>
</head>
<body>
    <div class="form-container">
        <form method="POST">

        <div class="top-bar">
            <!-- Botón con forma de interrogante -->
              {% if idioma == 'es' %}
                 <a class="manual" href="https://github.com/Lorenah2022/GreenMetrics/wiki/Manual-de-usuario#login">?</a>
            {% else %}
                 <a class="manual" href="https://github.com/Lorenah2022/GreenMetrics/wiki/User-manual#login">?</a>
            {% endif %}
            <!-- Desplegable de selección de idioma -->
            <div class="idioma-container">
                <label for="idioma">{{ textos.sel_idioma }}</label>
                <select name="idioma" id="idioma" class="input-tamano">
                    <option value="es" {% if session.get('idioma') == 'es' %}selected{% endif %}>{{ textos.espanol }}</option>
                    <option value="en" {% if session.get('idioma') == 'en' %}selected{% endif %}>{{ textos.ingles }}</option>

                </select>
            </div>
        </div>
        <h1>{{textos.texto_bienvenida}}</h1>
        <h2>{{textos.iniciar_sesion}}</h2>
            <div class="form-group">
                <label for="identifier">{{textos.email_username}}</label>
                <input type="text" id="identifier" name="identifier" required>
            </div>
            <div class="form-group">
                <label for="password">{{textos.password}}</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">{{textos.iniciar_sesion}}</button>

            <!-- Botón de inicio de sesión con Google -->
            <div id="g_id_onload"
                data-client_id= "110335636005-ates0e4d31oguugs7gf8bn1qu9rea6h6.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-callback="handleCredentialResponse"
                data-auto_prompt="false">
            </div>
            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="sign_in_with"
                data-size="large"
                data-logo_alignment="left">
            </div>

            <div class="link">
               {{textos.dont_have_account}} <a href="{{ url_for('register') }}">{{textos.crear_cuenta}}</a>
            </div>
            <div class="link">
                <a href="{{ url_for('pagina_principal') }}">{{textos.continue_without_login}}</a>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div id="successModal" class="modal">
        <div class="modal-content">
            <p id="modalMessage"></p>
            <button class="close" onclick="closeModal()">{{textos.aceptar}}</button>
        </div>
    </div>

    <script>
        document.getElementById('idioma').addEventListener('change', function() {
            const selectedLang = this.value;
            fetch('/cambiar_idioma', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ idioma: selectedLang })
            })
            .then(response => {
                if (response.ok) {
                    location.reload();  // recarga para aplicar el idioma nuevo
                }
            });
        });
    </script>


    <script>
        // Mostrar el modal si hay mensajes flash
        document.addEventListener('DOMContentLoaded', () => {
            const flashMessage = "{{ get_flashed_messages()[0] if get_flashed_messages() else '' }}";
            if (flashMessage) {
                const modal = document.getElementById('successModal');
                const modalMessage = document.getElementById('modalMessage');
                modalMessage.textContent = flashMessage;
                modal.style.display = 'flex';
            }
        });

        // Cerrar el modal
        function closeModal() {
            const modal = document.getElementById('successModal');
            modal.style.display = 'none';
        }

        // Callback para manejar la respuesta de Google
        function handleCredentialResponse(response) {
            console.log("Credenciales de Google:", response.credential);
            // Aquí puedes enviar el token al servidor o procesarlo según tu lógica
        }

        // Cambiar fondo dinámicamente
        const backgrounds = [
            'https://estaticos2.burgosnoticias.com/resources/files/2018/7/20/1532087105209universidad-burgos.jpg',
            'https://www.guiasturisticosburgos.com/media/noticias/845/400/horarios-y-precios-de-la-catedral-de-burgos-id-20.jpg',
            'https://www.guiasturisticosburgos.com/media/noticias/845/400/horarios-y-precios-monasterio-de-las-huelgas-id-24.jpg'
        ];
        let currentIndex = 0;
        function changeBackground() {
            document.body.style.backgroundImage = `url(${backgrounds[currentIndex]})`;
            currentIndex = (currentIndex + 1) % backgrounds.length;
        }
        changeBackground();
        setInterval(changeBackground, 60000);
    </script>
    <script>
    function handleCredentialResponse(response) {
        // El 'response' contiene el ID token que es necesario para autenticar al usuario
        const id_token = response.credential;

        // Ahora puedes enviar el token al servidor para que lo verifique
        fetch("/google_login", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ token: id_token })
        })
        .then(response => response.json())
        .then(data => {
            console.log("Usuario autenticado:", data);
            // Redirigir al usuario después de la autenticación
            window.location.href = "/pagina_principal"; // O la URL que desees
        })
        .catch(error => console.error("Error al enviar el token:", error));
    }
</script>

</body>
</html>
