<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Informe 1_19</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_cards.css') }}">
  <!-- Incluir el archivo CSS de la barra de navegación -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_interfaces.css') }}">



</head>
<body class="{% if session.get('tamano_texto') == 'pequeño' %}texto-pequeno{% elif session.get('tamano_texto') == 'grande' %}texto-grande{% else %}texto-mediano{% endif %} {% if daltonismo %}modo-daltonismo{% endif %}">

  <!-- Barra de navegación -->
  <div class="navbar">
    <h1>Greenmetrics</h1>
    <div class="dropdown">
      <button>≡</button>
      <div class="dropdown-content">
        <a href="{{ url_for('perfil') }}">{{ textos.perfil }}</a>
        <a href="{{ url_for('ajustes') }}">{{ textos.ajustes }}</a>
        {% if session.get('idioma') == 'es' %}
                    <a href=" https://github.com/Lorenah2022/GreenMetrics/wiki/Manual-de-usuario#annual-operation-maintenance-percentage-1_19">Manual</a>
                {% else %}
                    <a href=" https://github.com/Lorenah2022/GreenMetrics/wiki/User-manual#annual-operation-maintenance-percentage-1_19">Manual</a>
                {% endif %}
        <a href="{{ url_for('logout') }}">{{ textos.cerrar_sesion }}</a>
      </div>
    </div>
  </div>

    <!-- Contenido principal -->
    <div class="main-content">
        <h2>{{  textos.informe_1_19 }}</h2>
        
        <form method="POST" action="{{ url_for('pagina_pedir_IA') }}">
            <button type="submit" class="btn-option">{{ textos.descargar_informe}}</button>
        </form>

        <div class="button-container">
            <a href="{{ url_for('pagina_principal') }}" class="btn btn-secondary">{{ textos.volver_atras }}</a>
        </div>
    </div>

</body>
</html>

