<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Visitante</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_cards.css') }}">
    <!-- Incluir el archivo CSS de la barra de navegación -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_interfaces.css') }}">


</head>
<body class="{% if session.get('tamano_texto') == 'pequeño' %}texto-pequeno{% elif session.get('tamano_texto') == 'grande' %}texto-grande{% else %}texto-mediano{% endif %} 
{% if daltonismo %}modo-daltonismo{% endif %}">

     <!-- Barra de navegación -->
     <div class="navbar">
        <h1>Greenmetrics</h1>
        <div class="dropdown">
            <button>≡</button>
            <div class="dropdown-content">
                <a href="{{ url_for('ajustes') }}">{{ textos.ajustes}}</a>
                <a href="{{ url_for('logout') }}">{{ textos.cerrar_sesion}}</a> 
            </div>
        </div>
    </div>
    <div class="main-content">

            <!-- Contenido principal -->
            
                <h2>{{ textos.titulo_visit}}</h2>
                <p>{{ textos.text_visit}}<p>
          
        
            <div class="link">
                <a href="{{ url_for('login') }}" class="btn btn-secondary">{{ textos.iniciar_sesion}}</a>
                <a href="{{ url_for('register') }}" class="btn btn-secondary">{{ textos.crear_cuenta}}.</a>
            </div>
            <div class="link">
                <a href="{{ url_for('pagina_principal') }}" class="btn btn-secondary">{{ textos.volver_atras }}</a>
            </div>
        
    </div>
</body>
</html>