<!DOCTYPE html>
<html >
<html lang="{{ session.get('idioma', 'es') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenmetrics</title>
    <!-- Incluir el archivo CSS de la barra de navegación -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_login_register.css') }}">

</head>
<body>
    <div class="form-container">
         <div class="top-bar">
            <!-- Botón con forma de interrogante -->
             {% if idioma == 'es' %}
                 <a class="manual" href="https://github.com/Lorenah2022/GreenMetrics/wiki/Manual-de-usuario#registrarse">?</a>
            {% else %}
                 <a class="manual" href="https://github.com/Lorenah2022/GreenMetrics/wiki/User-manual#register">?</a>
            {% endif %}

            <!-- Desplegable de selección de idioma -->
            <div class="idioma-container">
                <label for="idioma">{{ textos.sel_idioma }}</label>
                <select name="idioma" id="idioma" class="input-tamano">
                    <option value="es" {% if session.get('idioma') == 'es' %}selected{% endif %}>{{ textos.espanol }}</option>
                    <option value="en" {% if session.get('idioma') == 'en' %}selected{% endif %}>{{ textos.ingles }}</option>

                </select>
            </div>
        </div>
        <h1>{{textos.texto_bienvenida}}</h1>
        <h2>{{textos.crear_cuenta}}</h2>
        <form method="POST">
            <div class="form-group">
                <label for="username">{{textos.nombre_usuario}}</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="email">{{textos.correo}}</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">{{textos.contrasenha}}</label>
                <input type="password" id="password" name="password" oninvalid="setMensajePersonalizado(this)" oninput="this.setCustomValidity('')"  required>
            </div>
            <div class="form-group">
                <label for="password">{{textos.confirmar_contrasenha}}</label>
                <input type="password" id="password" name="confirm_password" required>
            </div>
            <p class="password-info">{{textos.criterio_1}}</p>
            <p class="password-info">{{textos.criterio_2}}</p>
            <button type="submit">{{textos.crear_cuenta}}</button>
            <div class="link">
                {{textos.have_account}} <a href="{{ url_for('login') }}">{{textos.iniciar_sesion}}</a>
            </div>           
            <div class="link">
                <a href="{{ url_for('pagina_principal') }}">{{textos.continue_without_login}}</a>
             </div>

        </form>
    </div>

    <!-- Modal -->
    <div id="successModal" class="modal">
        <div class="modal-content">
            <p id="modalMessage"></p>

            <a href="{{ url_for('login') }}" class="close" onclick="closeModal()">{{textos.aceptar}}</a>

        </div>
    </div>

     <script>
        document.getElementById('idioma').addEventListener('change', function() {
            const selectedLang = this.value;
            fetch('/cambiar_idioma', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ idioma: selectedLang })
            })
            .then(response => {
                if (response.ok) {
                    location.reload();  // recarga para aplicar el idioma nuevo
                }
            });
        });
    </script>

    <script>
    function setMensajePersonalizado(input) {
        const idioma = document.documentElement.lang || 'es';  

        const mensaje = idioma === 'en'
            ? 'Please enter a valid email address.'
            : 'Por favor, introduce una dirección de correo válida.';

        input.setCustomValidity(mensaje);
    }
    </script>


    <script>
        // Mostrar el modal si hay mensajes flash
        document.addEventListener('DOMContentLoaded', () => {
            const flashMessage = "{{ get_flashed_messages()[0] if get_flashed_messages() else '' }}";
            if (flashMessage) {
                const modal = document.getElementById('successModal');
                const modalMessage = document.getElementById('modalMessage');
                modalMessage.textContent = flashMessage;
                modal.style.display = 'flex';
            }
        });

        // Cerrar el modal
        function closeModal() {
            const modal = document.getElementById('successModal');
            modal.style.display = 'none';
        }

        // Callback para manejar la respuesta de Google
        function handleCredentialResponse(response) {
            console.log("Credenciales de Google:", response.credential);
            // Aquí puedes enviar el token al servidor o procesarlo según tu lógica
        }

        // Cambiar fondo dinámicamente
        const backgrounds = [
            'https://estaticos2.burgosnoticias.com/resources/files/2018/7/20/1532087105209universidad-burgos.jpg',
            'https://www.guiasturisticosburgos.com/media/noticias/845/400/horarios-y-precios-de-la-catedral-de-burgos-id-20.jpg',
            'https://www.guiasturisticosburgos.com/media/noticias/845/400/horarios-y-precios-monasterio-de-las-huelgas-id-24.jpg'
        ];
        let currentIndex = 0;
        function changeBackground() {
            document.body.style.backgroundImage = `url(${backgrounds[currentIndex]})`;
            currentIndex = (currentIndex + 1) % backgrounds.length;
        }
        changeBackground();
        setInterval(changeBackground, 60000);
    </script>
    
</body>
</html> 