.btn-option {
    display: block;
    margin: 20px auto;
    padding: 15px 30px;
    background-color: #D9F2E1;
    color: black;
    border: none;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation: pulse 2s infinite;
    font-size: 16px; /* Establece un tamaño de fuente predeterminado */

}

.btn-option:hover {
    background-color: #35a670;
    color: white;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2); /* Sombra más marcada */
    transition: all 0.3s ease-in-out;

}
/* Animación de rebote */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

/* Contenedor principal */
.main-content {
    padding: 20px;
    color: #333;
    text-align: center;
    flex: 1;
}

.main-content h2 {
    color: #D9F2E1; /* Cambiar de color dependiendo de daltonismo */
    margin-bottom: 20px;
}

/* Título con cambio de color según daltonismo */
.main-content h3 {
    color: #D9F2E1; /* Cambiar de color dependiendo de daltonismo */
    margin-bottom: 20px;
}


.main-content p {
    font-size: 16px;
    color: #D9F2E1;
}

/* Contenedor para los botones al lado */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;  /* Espacio entre los botones */
    margin-top: 20px;
}
/* Estilo de los botones */
.btn {
    display: inline-block;
    padding: 12px 25px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: var(--font-size-medium); /* Establece un tamaño de fuente predeterminado */
}
/* Botón de volver atrás */
.btn-secondary {
    background-color: #D9F2E1;
    color: black;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover {
    background-color:#35a670;
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    color:white;
}

.btn-anho {
    background-color: #D9F2E1;
    color: black;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-anho:hover {
    background-color:#35a670;
    transform: translateY(-5px); /* Animación de elevación */
}

label {
    color: #D9F2E1; /* Cambia este valor al color que desees */
    font-weight: bold; /* Opcional: hace el texto más visible */
    margin-top: 10px;
    display: block;
}


.mensaje_errores {
    background-color: #f8d7da; /* Color de fondo suave para errores */
    color: #721c24; /* Color de texto oscuro para contraste */
    padding: 10px; /* Espacio interno */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 2px 5px rgba(0,0,0,0.15); /* Sombra para darle efecto de elevación */
    margin-top: 5px; /* Espacio arriba */
    display: inline-block; /* Para que se ajuste al contenido */
    transition: all 0.3s ease; /* Suaviza el efecto al aparecer */
}

.mensaje_errores:hover {
    background-color: #f5c6cb; /* Efecto al pasar el mouse */
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /* Sombra más fuerte al hacer hover */
}




.texto-pequeno .btn-option, .texto-pequeno label, .texto-pequeno .main-content p, .texto-pequeno .mensaje_errores {
    font-size: var(--font-size-small); /* Aplicar tamaño pequeño */
}

.texto-grande .btn-option, .texto-grande label, .texto-grande .main-content p, .texto-grande .mensaje_errores {
    font-size: var(--font-size-large); /* Aplicar tamaño grande */
}


  /* Estilos para el modo daltonismo */
  .modo-daltonismo .btn-option, .modo-daltonismo .btn-secondary, .modo-daltonismo .btn-anho  {
    background-color:#d8b4fe ;
  }

  .modo-daltonismo .btn-option:hover, .modo-daltonismo .btn-secondary:hover, .modo-daltonismo .btn-anho:hover{
    color: white;
    background-color: #581c87;
  }
 
  .modo-daltonismo .main-content h2,  .modo-daltonismo label, .modo-daltonismo .main-content h3, .modo-daltonismo .main-content p  {
    color: #d8b4fe;
  }



